on:
    push:
        branches:
            - main

jobs:
    build-and-push:
        runs-on: ubuntu-latest

        steps:
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v2
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.TOKEN }}

        - name: Checkout code
          uses: actions/checkout@v3

        - name: Set image tag
          run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

        - name: Build image
          run: |
            docker build \
            -t ghcr.io/u-gin/oci-demo:${IMAGE_TAG} \
            .

        - name: Verify image
          run: |
            docker run ghcr.io/u-gin/oci-demo:${IMAGE_TAG} python --version
        
        - name: Push image to GitHub Container Registry
          run: |
            docker push ghcr.io/u-gin/oci-demo:${IMAGE_TAG}